@import url('styles.css');
@view-transition {
  navigation: auto;
  types: slide, forwards;
}

::view-transition-group(root) {
    animation-duration: 0.4s;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--bg-color,#F9FBFF);
    writing-mode: horizontal-tb;


    #moon {
        display: none;
    }

    &.darkmode {
        #theme-switch {
            #sun {
                display: none;
            }
            #moon {
                display: block;
            }
        }
        img {
            filter: brightness(82%)
        }
    }
    
    #navbar {
        width: var(--nav-short-end-size);
        height: 100vh;
        border-right: calc(2*var(--border-width,0.5px)) solid var(--border-color,#121313);
        position: fixed;
        box-sizing: border-box;
        background-color: var(--nav-bg-color);
        z-index: 1;
        transition: 0.4s;

        ul {
            position: absolute;
            top: calc(3*var(--height-spacing-unit));
            right: calc(8*var(--width-spacing-unit));
            display: flex;
            gap: calc(var(--height-spacing-unit));
            flex-direction: column;
            width: auto;
            z-index: -1;

            li{
                min-width: 0;

            }

            a {
                padding: var(--height-spacing-unit) calc(2*var(--width-spacing-unit));
                font-size: calc(2*var(--font-size-base,1rem));
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        #load-btns {
            position: absolute;
            display: flex;
            gap: calc(1*var(--height-spacing-unit));
            z-index: -1;
            bottom: calc(1*var(--height-spacing-unit));
            right: calc(4*var(--width-spacing-unit));

            button {
                display: flex;
                text-wrap: nowrap;
                justify-content: center;
                background-color: transparent;
                border: 1px solid var(--border-color,#121313);
                padding-inline: calc(1*var(--width-spacing-unit));
                padding-block: calc(0.5*var(--height-spacing-unit));
                border-radius: 4px;
            }
            button:hover {
                background-color: var(--border-color,#121313);
                h3{color: var(--text-color-white,#FFFFFF);}
                cursor: pointer;                
                transition: 0.2s;
            }
        }

        #closed-nav {
            height: 100%;
            padding-inline: calc(0.4*var(--width-spacing-unit));
            padding-block: calc(0.6*var(--height-spacing-unit));
            box-sizing: border-box;
            width: var(--nav-short-end-size);
            border-right: var(--border-width,0.5px) solid var(--border-color,#121313);
            display: flex;
            align-items: center;
            flex-flow: column nowrap;
            justify-content: space-between;
            background-color: var(--nav-bg-color);
            position: relative;
            z-index: 1;

            #nav-button {
                
                cursor: pointer;

                input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                    position: fixed;
                }
            }

            #theme-switch {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: auto;
                gap: calc(0.5*var(--height-spacing-unit));

                .switch {
                aspect-ratio: 1/2;
                position: relative;
                display: inline-block;
                width: 100%;

                    input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }

                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        padding-block: 8%;
                        padding-inline: 8%;
                        background-color: var(--nav-bg-color);
                        -webkit-transition: .4s;
                        transition: .4s;
                        display: flex;
                        flex-direction: column-reverse;
                        align-items: center;
                    }

                    .slider:before {
                        aspect-ratio: 1/1;
                        content: "";
                        width: 100%;
                        background-color: white;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }

                    input:checked + .slider {
                        background-color: var(--nav-bg-color);
                        border: calc(2*var(--border-width)) solid var(--border-color);
                    }

                    input:checked + .slider:before {
                        transform: translateY(-132%);
                        background-color: var(--border-color);
                    }

                    /* Rounded sliders */
                    .slider.round {
                        border-radius: var(--width-spacing-unit);
                        border: calc(2*var(--border-width)) solid var(--border-color);
                    }

                    .slider.round:before {
                        border-radius: var(--width-spacing-unit);
                        background-color: var(--border-color);
                    }
                }
            }
            
        }
        
        
    }

    hgroup {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: calc(0.5*var(--height-spacing-unit,1.6dvh));

        p {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        }
    }
    

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-left: var(--nav-short-end-size);

        figure {
            margin: 0;
            border: var(--border-width,0.5px) solid var(--border-color,#121313);

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        header[data-page="home"] {
            height: 37.5vh;
            padding-inline: calc(2*var(--width-spacing-unit,1.6dvw));
            padding-block: var(--height-spacing-unit,1.6dvh);
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            border: var(--border-width,0.5px) solid var(--border-color,#121313);
        }

        header[data-page="case-study"] {
            padding-inline: calc(2*var(--width-spacing-unit,1.6dvw));
            padding-block: calc(2*var(--height-spacing-unit,1.6dvh));
            justify-content: flex-start;
            align-items: center;
            color: var(--text-color-white,#FFFFFF);
            background-color: var(--primary-color,#282787);
            display: grid;
            grid-template-columns: repeat(12,1fr);
            grid-column-gap: var(--width-spacing-unit,1.6dvw);
            grid-row-gap: calc(2*var(--height-spacing-unit,1.6dvh));
            grid-template-areas: 
                ". titles titles titles titles . . goal-deliverable goal-deliverable skill-time skill-time . .";

            hgroup {
                grid-area: titles;

                h1 {
                    color: var(--text-color-white,#FFFFFF);
                }
            }

            #goal-deliverable-container {
                grid-area: goal-deliverable;
                display: flex;
                flex-direction: column;
                gap: calc(2*var(--height-spacing-unit,1.6dvh));
                
                section {
                    display: flex;
                    flex-direction: column;
                    gap: calc(0.5*var(--height-spacing-unit,1.6dvh));
                }
            }

            #skills-time-container {
                grid-area: skill-time;
                display: flex;
                flex-direction: column;
                gap: calc(2*var(--height-spacing-unit,1.6dvh));
                
                section {
                    display: flex;
                    flex-direction: column;
                    gap: calc(0.5*var(--height-spacing-unit,1.6dvh));
                }
            }

            #goal {
                grid-area: goal;
            }

            #deliverable {
                grid-area: deliverable;
            }

            #skills {
                grid-area: skills;
            }

            #time-spent {
                grid-area: time;
            }
        }

        main {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            section {
                padding-inline: calc(2*var(--width-spacing-unit,1.6dvw));
                padding-block: var(--height-spacing-unit,1.6dvh);
                border: var(--border-width,0.5px) solid var(--border-color,#121313);

                div {
                    padding-block: var(--height-spacing-unit,1.6dvh);
                    display: flex;
                    column-gap: calc(2*var(--width-spacing-unit,1.6dvw));
                    row-gap: var(--height-spacing-unit,1.6dvh);                
                }
            }

            section[data-page="case-study"] {
                display: grid;
                grid-template-columns: repeat(12,1fr);
                grid-template-rows: auto auto auto;
                grid-column-gap: var(--width-spacing-unit,1.6dvw);
                grid-row-gap: calc(2*var(--height-spacing-unit,1.6dvh));
                grid-template-areas: 
                    ". h2 h2 h2 h2 h2 . . . . . ."
                    ". p p p p . . . . . . ."
                    ". strong strong . . . . . . . . .";
                border: none;
                h2 {
                    grid-area: h2;
                }

                p {
                    grid-area: p;
                }

                strong {
                    grid-area: strong;
                }
            }

            figure {
                display: grid;
                grid-template-columns: repeat(12,1fr);
                grid-template-rows: auto auto;
                grid-column-gap: var(--width-spacing-unit,1.6dvw);
                grid-row-gap: calc(var(--height-spacing-unit,1.6dvh));
                grid-template-areas:
                    ". img img img img img img . . . . ."
                    ". figcaption figcaption figcaption . . . . . . . .";

                padding-inline: calc(2*var(--width-spacing-unit,1.6dvw));
                padding-block: var(--height-spacing-unit,1.6dvh);
                border: none;

                img {
                    grid-area: img;
                }

                figcaption {
                    grid-area: figcaption;
                    display: flex;
                    flex-direction: column;
                    gap: calc(0.5*var(--height-spacing-unit,1.6dvh));
                }
            }
        }

        main[data-page="case-study"] {
            border: var(--border-width,0.5px) solid var(--border-color,#121313);
        }
        
        footer {
            padding-inline: calc(2*var(--width-spacing-unit,1.6dvw));
            padding-block: calc(1.5*var(--height-spacing-unit,1.6dvh));
            border: var(--border-width,0.5px) solid var(--border-color,#121313);
            nav ul {
                display: flex;
                gap: 40px;
            }
        }
    }

    
}