:root {
    /* Colors */
    --primary-color: #282787;
    /* --secondary-color: #2ecc71; */
    --system-error-color: rgba(218, 134, 147);
    --system-info-color: rgba(189, 218, 134, 0.8);
    --bg-color: #F9FBFF;
    --nav-bg-color: #FFFFFF;
    --text-color: #121313;
    --heading-color-supporting: rgba(249, 251, 255,0.48);
    --text-color-supporting: #636060;
    --border-color: #121313;
    --border-width: 0.5px;
    /* Font */
    --font-family: 'Roboto', sans-serif;
    --font-size-base: 1rem;
    --width-spacing-unit: 1.6dvw;
    --height-spacing-unit: 1.6dvh;

    @font-face {
        font-family: 'Roboto';
        /* The src declaration points to your single font file */
        src: url('fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype-variations'),
            url('fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype'); /* Fallback for some browsers */
        
        /* Define the range of weights the font supports */
        font-weight: 100 900; 
        
        font-style: normal;
        font-display: swap; /* Best practice for performance */
    }
}

.darkmode {
    --primary-color: #282787;
    /* --secondary-color: #2ecc71; */
    --system-error-color: rgba(218, 134, 147);
    --system-info-color: rgba(189, 218, 134, 0.8);
    --bg-color: #121313;
    --nav-bg-color: #121313;
    --text-color: #CDCDCD;
    --heading-color-supporting: rgba(249, 251, 255,0.48);
    --text-color-supporting: #636060;
    --border-color: #CDCDCD;
}