@import url('semantics.css');

html {
    font-family: var(--font-family, 'Roboto', 'sans-serif');
    overscroll-behavior: none;
}

h1, h2, h3, p, em, a {
    color: var(--text-color,#121313);
}

h1 {
    margin: 0px;
    font-size: calc(3*var(--font-size-base,1rem));
    font-weight: 400;
}

h2 {
    margin: 0px;
    font-size: calc(2*var(--font-size-base,1rem));
    font-weight: 400;
}

h3 {
    /* Default is supporting text style */
    margin: 0px;
    font-size: calc(0.875*var(--font-size-base,1rem));
    color: var(--text-color-supporting,#636060);
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-weight: 400;
}

p {
    margin: 0px;
    font-size: var(--font-size-base,1rem);
}

em {
    font-style: normal;
}

.white-text {
    color: var(--text-color-white,#FFFFFF);
}

.supporting-text {
    font-size: calc(0.875*var(--font-size-base,1rem));
    color: var(--text-color-supporting,#636060);
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-weight: 400;
}

.blue-bg {
    color: var(--heading-color-supporting,rgba(249, 251, 255,0.48));
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-column-gap: var(--width-spacing-unit,1.6dvw);
    grid-row-gap: calc(2*var(--height-spacing-unit,1.6dvh));
}

.flex-container {
    padding-block: var(--height-spacing-unit,1.6dvh);
    display: flex;
    column-gap: calc(2*var(--width-spacing-unit,1.6dvw));
    row-gap: var(--height-spacing-unit,1.6dvh);
}

.flex-item {
    flex: 1;
}

.scroller {
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    scrollbar-color: var(--border-color,#121313) transparent;
}

.error-highlight {
    background: linear-gradient(104deg, rgba(218, 134, 147,0) 0.9%, rgba(196, 62, 82, 0.2) 2.4%, rgba(235, 139, 154, 0.5) 5.8%, rgba(128, 55, 66, 0.1) 93%, rgba(231, 55, 84, 0.7) 96%, rgba(218, 134, 147,0) 98%), linear-gradient(183deg, rgba(218, 134, 147,0) 0%, rgba(218, 134, 147,0.3) 7.9%, rgba(218, 134, 147,0) 15%);
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    margin: 0;
    border-radius: 7.5px;
    text-shadow: -12px 12px 9.8px rgba(218, 134, 147,0.7), 21px -18.1px 7.3px rgba(255, 255, 255,1), -18.1px -27.3px 30px rgba(255, 255, 255,1);
}

.info-highlight {
    background: linear-gradient(104deg, rgba(6, 152, 60, 0) 0.9%, rgba(158, 239, 6, 0.8) 2.4%, rgba(166, 248, 15, 0.5) 5.8%, rgba(62, 138, 89, 0.1) 93%, rgba(189, 218, 134, 0.8) 96%, rgba(130, 255, 1732,0) 98%), linear-gradient(183deg, rgba(130, 255, 173,0) 0%, rgba(118, 175, 13, 0.3) 7.9%, rgba(130, 255, 173,0) 15%);
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    margin: 0;
    border-radius: 7.5px;
    text-shadow: -12px 12px 9.8px var(--system-info-color), 21px -18.1px 7.3px rgba(255, 255, 255,1), -18.1px -27.3px 30px rgba(255, 255, 255,1);
}
  